body {
    background-image: url(../imagens/papel.jpg);
}

#logo{
    width: 1000px;
    height: 100px;
    background-image: url(../imagens/logo-jogo.jpg); 
    background-size: 1000px 100px;
}

/*Menu do Site*/

nav {
    width: 100%;
    background-color: rgb(50, 50, 50);
}

nav ul li {
    display: inline;
}
nav ul li a{
    padding: 10px;
    line-height: 30px;
    color: white;
}

/*Painel Principal*/

#painel_principal {
    margin: 25px auto;
    width: 1000px;
    border: solid 1px rgb(0, 0, 0);
    background-color: white;
    box-shadow: 2px 2px 4px;

}

#painel_login{
    margin: 25px auto;
    margin: auto;
    width: 200px;
    padding: 10px;
}

#login, #senha input{
    width: 194px;
}

#sub_login {
    margin-top: 10px;
    margin-left: 48.5px;
    width: 97px;
}

#sub_cadastrar {
    margin-top: 10px;
    margin-left: 48.5px;
    width: 97px;
}

/*Painel Personagem*/

#painel_personagem{
    width: 100%;
}

#selecao_inimigo{
    margin-top: 250px;
    width: 100%;
    height: 350px;
    border-top: solid 1px; 
}

#painel_batalha{
    width: 100%;
    height: 350px;
    border-top: solid 1px; 
}

.avatar_personagem{
    margin: 10px 10px 10px;
    width: 100px;
    height: 100px;
    border: solid 1px;
    float: left;
}


.barra{
margin-top: 10px;
width: 500px;
height: 40px;
border: solid 1px;
float: left;
text-align: center;
}


#hp_atual{
    width: 500px;
    height: 40px;
    background-image: url(../imagens/barrahp.png);

    }


#xp_atual{
    width: 500px;
    height: 40px;
background-image: url(../imagens/barraxp.png);

}

.avatar_inimigo{
    margin: 10px 10px 10px;
    width: 100px;
    height: 100px;
    border: solid 1px;
    float: left;

}