body {
    background-image: url(../imagens/papeis/fundo.jpg);
    background-size: cover;
}

@font-face {
    font-family: "gb";
    src: url(../fonte/gb.ttf);
  }

#logo{
    width: 800px;
    height: 100px;
    background-image: url(../imagens/papeis/final_logo_jogo.jpg); 
    background-size: 800px 100px;
}
.avatar_npc{
    width: 250px;
    height: 300px;
    float: left;
}

.avatar_item{
    width: 250px;
    height: 250px;
    margin: 20px 25px 10px 10px;
    border: solid 1px;
    float: right;
}

#atributos_personagem{
    font: normal 10pt "gb";
    color: white;
}

#fonte_combate{
    font: normal 10pt "gb";
    color: white;
}

.gold{
    font: normal 7pt "gb";
    margin-top: 5px;
    color: white;
}

/*Menu do Site*/

nav {
    width: 100%;
    background-image: url(../imagens/barras/barra_cinza.jpg); 
}

nav ul li {
    display: inline;
}
nav ul li a{
    padding: 10px;
    line-height: 30px;
    font: normal 7pt "gb";
    color: white;
}

/*Painel Principal*/

#painel_principal {
    margin: 25px auto;
    width: 800px;
    height: auto;
    border: solid 1px rgb(0, 0, 0);
    box-shadow: 2px 2px 4px;
    background-image: url(../imagens/papeis/papel.jpg);

}

#painel_login{
    margin: 25px auto;
    margin: auto;
    width: 200px;
    padding: 10px;
    color: white;
    font: normal 7pt "gb";
}

#login, #senha input{
    width: 235px;
}

#sub_login {
    margin-top: 10px;
    margin-left: 48.5px;
    width: 97px;
    background-image: url(../imagens/barras/barra_cinza.jpg); 
    color: white;
    font: normal 7pt "gb";
}

#sub_cadastrar {
    margin-top: 10px;
    margin-left: 48.5px;
    width: 97px;
    background-image: url(../imagens/barras/barra_cinza.jpg);
    color: white;
    font: normal 7pt "gb";
}

#atacar{
   margin-top: 20px;
    margin-left: 351.5px;
    width: 97px;
    background-image: url(../imagens/barras/barra_cinza.jpg); 
    color: white;
    font: normal 7pt "gb";
}

#reiniciar{
    margin-top: 20px;
     margin-left: 351.5px;
     width: 97px;
     background-image: url(../imagens/barras/barra_cinza.jpg); 
     color: white;
     font: normal 7pt "gb";
 }

 #refinar{
     margin-top: 100px;
     margin-left: 20px;
     width: 97px;
     background-image: url(../imagens/barras/barra_cinza.jpg); 
     color: white;
     font: normal 7pt "gb";
 }

 #buscar{
    width: 97px;
    background-image: url(../imagens/barras/barra_cinza.jpg); 
    color: white;
    font: normal 7pt "gb";
}

#vendercomprar{
    margin: 150px 100px;
    width: 97px;
    background-image: url(../imagens/barras/barra_cinza.jpg); 
    color: white;
    font: normal 7pt "gb";
}

#div_batalha{
    width: 800px;
    float:inline-end;
    text-align: center;
    background-image: url(../imagens/papeis/fundo1.jpg); 
    color: white;
    font: normal 7pt "gb";
}

/*Painel Personagem*/

#painel_personagem{
    width: 100%;
    height: 300px;
    background-image: url(../imagens/papeis/papel.jpg); 

}

#painel_dungeons{
    width: 100%;
    height: 350px;
    background-image: url(../imagens/papeis/papel.jpg); 
}

#selecao_inimigo{
 
    width: 100%;
    height: 200px;
    border-top: solid 1px; 
    background-image: url(../imagens/papeis/papel.jpg); 
}

#selecao_item{
 
    width: 100%;
    height: 400px;
    border-top: solid 1px; 
    background-image: url(../imagens/papeis/papel.jpg); 
}

#comprar_item{
 
    width: 100%;
    height: 400px;
    border-top: solid 1px; 
    background-image: url(../imagens/papeis/papel.jpg); 
}

#vender_item{
 
    width: 100%;
    height: 400px;
    border-top: solid 1px; 
    background-image: url(../imagens/papeis/papel.jpg); 
}

#painel_batalha{
    width: 100%;
    height: 400px;
    border-top: solid 1px; 
}

.avatar_personagem_selecao{
  
    width: 250px;
    height: 300px;
    float: left;
}

.avatar_personagem_batalha{
    margin: 10px 95px 10px;
    width: 250px;
    height: 250px;
    border: solid 1px;
    float: left;
}


.barra{
width: 250px;
height: 20px;
border: solid 1px;
float: left;
text-align: center;
}

#barra_xp{
    margin-top: 20px;
    margin-left: 125px;
    width: 250px;
    height: 20px;
    border: solid 1px;
    float: left;
    text-align: center;
    }

#div_de_barras{
width: 800px;
height: 40px;
float: top;
text-align: center;
}

#barra_hp_1{
    margin-top: 10px;
    margin-left: 95px;
    margin-right: 20px;
width: 250px;
height: 20px;
border: solid 1px;
float: left;
text-align: center;
}


#hp_atual_1{
    width: 250px;
    height: 20px;
    background-image: url(../imagens/barras/barra_vermelha.jpg);
    font: normal 7pt "gb";
    color: white;

    }

    #barra_hp_2{
    margin-top: 10px;
    margin-left: 85px;
    margin-right: 20px;
width: 250px;
height: 20px;
border: solid 1px;
float: left;
text-align: center;
}


#hp_atual_2{
    width: 250px;
    height: 20px;
    background-image: url(../imagens/barras/barra_vermelha.jpg);
    font: normal 7pt "gb";
    color: white;

    }


#xp_atual{
    width: 250px;
    max-width: 100%;
    height: 20px;
background-image: url(../imagens/barras/barra_roxa.jpg);

}

#barra_refinar{
    margin-top: 25px;
    margin-left: 10px;
width: 250px;
height: 20px;
border: solid 1px;
float: left;
text-align: center;
}


#refinar_atual{
    width: 0px;
    height: 20px;
    background-image: url(../imagens/barras/barra_amarela.jpg);
    font: normal 7pt "gb";
    color: white;

    }

#status_refino{
    margin-top: 50px;
    background-image: url(../imagens/barras/barra_verde.jpg);
    font: normal 7pt "gb";
    color: white;
}

.avatar_inimigo_selecao{
    margin: 25px 25px 10px;
    width: 150px;
    height: 150px;
    border: solid 1px;
    float: left;
}

.avatar_inimigo_batalha{
    margin: 10px 10px 10px;
    width: 250px;
    height: 250px;
    border: solid 1px;
    float: left;
}

.slot{
    margin: 5px 20px 10px 30px;
    width: 100px;
    height: 100px;
    border-radius: 10px;
    border: solid 5px;
    background:rgb(116, 84, 42); 
    float: left;
}

.sloti{
    margin: 5px 20px 10px 30px;
    width: 100px;
    height: 100px;
    border-radius: 10px;
    border: solid 5px;
    background:rgb(116, 84, 42); 
    float: left;
}

.slotm{
    margin: 5px 20px 10px 30px;
    width: 100px;
    height: 100px;
    border-radius: 10px;
    border: solid 5px;
    background:rgb(116, 84, 42); 
    float: left;
}

.slotf{
    margin: 5px 20px 10px 30px;
    width: 100px;
    height: 100px;
    border-radius: 10px;
    border: solid 5px;
    background:rgb(116, 84, 42); 
    float: left;
}

.slot_empty{
    margin: 5px 20px 10px 30px;
    width: 100px;
    height: 100px;
    border-radius: 10px;
    border: solid 5px;
    background:rgb(116, 84, 42); 
    float: left;
}

#texto_inventario{
    font: normal 10pt "gb";
    margin-left: 45%;
    color: white;
}

div[name="espada1"]{
    background-size:contain;
    background-image: url(../imagens/itens/espada.png);
}

div[name="arco1"]{
    background-size:contain;
    background-image: url(../imagens/itens/arco.png);
}

div[name="cajado1"]{
    background-size:contain;
    background-image: url(../imagens/itens/cajado.jpg);
}

div[name="espada2"]{
    background-size:contain;
    background-image: url(../imagens/itens/espada2.png);
}

div[name="arco2"]{
    background-size:contain;
    background-image: url(../imagens/itens/arco2.png);
}

div[name="cajado2"]{
    background-size:contain;
    background-image: url(../imagens/itens/cajado2.jpg);
}

#Javali{
    background-size:contain;
    background-image: url(../imagens/inimigos/jav.jpg);
}

#Urso{
    background-size:contain;
    background-image: url(../imagens/inimigos/urso.jpg);
}

#Snake{
    background-size:contain;
    background-image: url(../imagens/inimigos/snake.jpg);
}

#Drag{
    background-size: contain;
    background-image: url(../imagens/inimigos/red_drag.jpg);
}

#Ice_Warrior{
    background-size: contain;
    background-image: url(../imagens/inimigos/ice_warrior.jpg);
}

#Ice_King{
    background-size: contain;
    background-image: url(../imagens/inimigos/ice_king.jpg);
}

#Lobo{
    background-size:contain;
    background-image: url(../imagens/inimigos/lobo.jpg);
}

#Goblin{
    background-size:contain;
    background-image: url(../imagens/inimigos/goblin.jpg);
}

#Orc{
    background-size:contain;
    background-image: url(../imagens/inimigos/orc.jpg);
}

#Ogro{
    background-size:contain;
    background-image: url(../imagens/inimigos/ogro.jpg);
}

#Boss{
    background-size:contain;
    background-image: url(../imagens/inimigos/boss.jpg);
}

#Blue_Drag{
    background-size:contain;
    background-image: url(../imagens/inimigos/blue_drag.jpg);
}

#Cerberus{
    background-size:contain;
    background-image: url(../imagens/inimigos/cerberus.jpg);
}

#Demon{
    background-size:contain;
    background-image: url(../imagens/inimigos/demon.jpg);
}

div[name="warrior"]{
    background-size: 250px 300px;
    background-image: url(../imagens/classes/warrior.jpg);
}

div[name="archer"]{
    background-size: 250px 300px;
    background-image: url(../imagens/classes/archer.jpg);
}

div[name="wizard"]{
    background-size: 250px 300px;
    background-image: url(../imagens/classes/wizard.jpg);
}

#mercador{
    background-size: 250px 300px;
    background-image: url(../imagens/npcs/mercador.jpg);
}

#ferreiro{
    background-size: 250px 300px;
    background-image: url(../imagens/npcs/ferreiro.jpg);
}

#atributos_personagem
{
    width: 550px;
    height: 300px;
    background-image: url(../imagens/papeis/papel.jpg);
    float: left;
}

#atributo_xp
{
    text-align-last: center;
}

.lista_atributos
{
    margin-left: 150px;
}

#registro_atributos
{
margin-top: 20px;
width: 250px;
height: 20px;
border: solid 1px;
float: right;
text-align: center;
}

.dungeon{
    width: 175px;
    height: 125px;
    float: left;

}
#floresta{
    margin: 25px 15px 10px;
    width: 175px;
    height: 125px;
    float: left;
    background-image: url(../imagens/dungeons/floresta.jpg);
    background-size: cover;
}

#planice{
    margin: 25px 10px 10px;
    width: 175px;
    height: 125px;
    float: left;
    background-image: url(../imagens/dungeons/planice.jpg);
    background-size: cover;
}

#ice{
    margin: 25px 10px 10px;
    width: 175px;
    height: 125px;
    float: left;
    background-image: url(../imagens/dungeons/ice.jpg);
    background-size: cover;
}

#lava{
    margin: 25px 10px 10px;
    width: 175px;
    height: 125px;
    float: left;
    background-image: url(../imagens/dungeons/lava.jpg);
    background-size: cover;
}

#gruta{
    margin: 25px 15px 10px;
    width: 175px;
    height: 125px;
    float: left;
    background-image: url(../imagens/dungeons/gruta.jpg);
    background-size: cover;
}

.informacoes_item{
    position: absolute;    
 	top:550px; bottom: 0; 
	left: -1000px; right:0;
    margin: auto;
	width: 100px;
	height: 200px;
	padding: 15px;
	border: solid 1px #4c4d4f;
	background:rgb(116, 84, 42);    
	display: none;
}

